extends layout

block body 
  h1= 'EDI Parser'
  p Select file to upload
  form(action='upload/edi', method='post', enctype='multipart/form-data')
    input(type='file', name='userZip')
    input(type='submit', value='Upload')